<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		#container
		{                
			position: absolute; 
			overflow: hidden; 
		}

		#comments
		{
			position: relative;
			overflow: scroll; 
		}
	</style>
</head>
<body>
	<div class="header">
		<h1>ABUAD Catholic Church</h1>
	</div>

	<div class="topnav">

		<a href="?controller=register">Sign Up</a>

		<a href="?controller=login_panel">Login</a></button>

		<a href="?controller=home">Home</a>

		<!-- Use ctr shift L --> to select wrap a section 
		<li>controller=register</li>
		<li>controller=register</li>
		<li>controller=register</li>
		<li>controller=register</li>
		<li>controller=register</li>
	</div>

	<div id="container">
		<div id="comments">
			this is what I want to scroll
			<p>controller=register
controller=register
controller=register
controller=register
controller=register</p>
		</div>
	</div>

	<div class="row">
		<div class="column side">
			<div class="nav">
				<ul>
					<li>
						<a href="?controller=mailing_categories"><h1>Manage mailing categories</h1></a><br></li>
						<li> <a href="?controller=history"><h1>History</h1></a><br></li><br>
					</ul>
				</div>
			</div>
		</div>
		
	</body>
	</html>