html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video,header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
}

body,html {
    font-family: arial,heveltica,verdana,sans-serif;
    font-size:1em;
    min-height: 100%;
    position: static;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    margin: 0;
}
header {
    background-color: #f1f1f1;
    margin: 0;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.footer {
    background-color: #f1f1f1;
    text-align: center;
    clear: both;
}

/*Navigation bar*/
.topnav ul {
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

.topnav li {
    float: right;
}

.topnav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.topnav li.dropdown {
    display: inline-block;
}

.topnav .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    color: black;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.topnav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}                                                                 

.topnav .dropdown-content a:hover {background-color: #f1f1f1}

.topnav .dropdown:hover .dropdown-content {
    display: block;
}
.slide {
    font-family: 'Bungee Shade';font-size: 2em;
    color: blue;
    margin: 0;
}

p {
    font-weight: bold;
    font-size: 1.6em;
    color: red;
}
.column.side1 {
    border-radius: 5px;
    float:right;
    width: 30%;
    margin-right: 10px;
    padding: 10px;
    border: none;
}
.column.middle1 {
    width:30%;
    float: left;
    margin:0 auto;
}
@media (max-width: 500px) {
    .column.side, .column.middle,.column.side1, .column.middle1 {
        width: 100%;
    }
}
    
    input[type=text] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: horizontal;
    }
    input[type=password] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: horizontal;
    }
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    
    }

    .container { 
        border-radius: 5px;
        padding: 20px;
        width: 58%;
        color:white;
        font-weight: bold;
        opacity: 0.8;
    }
    
    .footer {
        background-color: #f1f1f1;
        padding: 10px;
        text-align: center;
        margin-top: 10px;

    }
   
main {
    margin: 0;
    background-image: url(.././image/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
